@import "tailwindcss";
@theme {
  --color-blue-950: hsl(233, 26%, 24%);
  --color-green-500: hsl(136, 64%, 51%);
  --color-cyan-400: hsl(192, 69%, 51%);
  --color-gray-600: hsl(233, 8%, 62%);
  --color-gray-100: hsl(220, 16%, 96%);
  --color-gray-50: hsl(0, 0%, 98%);
  --color-white: hsl(0, 100%, 100%);
  --breakpoint-md:900px;
}

button{
  cursor: pointer;
}

body{
  @apply bg-gray-50;
}
.links a{
  @apply hover:text-green-500;
}